body {
    background: linear-gradient(to bottom, #7EF9CF, #7AFC92
    );
    }
body {
    font-family: 'Comic Sans MS', cursive;
    }
h1 {
    text-align: center;
  }
div {
    width: 480px;
    height: 361px;
    background: url(https://giphy.com/stickers/frog-ffxiv-khaiani-r1mMYnWsCQiATFCVjK) center center no-repeat;
    background-size: 480px 361px;
  }